Module.symvers
modules.order
*.ko
*.mod.c
*.mod.o
*.o
.cache.mk
.*.ko.cmd
.*.o.cmd
.tmp_versions
*.o.ur-safe

# Vim swap files
.*.swp

# Cscope
cscope.out

# Ctags
tags

# Linux kernel uncompressed
vmlinux

# Examples binaries
examples/yarrcall_access
examples/hide_self

